---
layout: default
make-smaller-titles: true
---


<div class="container index">
	<div class="row mt-5">
		<div class="col-md-12 main content-panel">
			<div class="gravatar">
				<img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}"/>
			</div>
			<h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>
			<div class="author-text">
				{{ site.title_description }}
			</div>
			{% include social_links.html %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 main content-panel">
			<div class="articles">
				<h2>Articles Récents</h2>
				<ul>
					{% for post in site.posts limit: site.post_limit %}
					
					<li>
						<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
						<small class="hidden-xs">{% include date.html date=post.date %}</small>
					</li>
					
					{% endfor %}
					<li>
						<small><i><a href="{{ site.baseurl }}/articles/">Encore...</a></i></small>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col main content-panel">
			<div class="articles">
				<h2>Les catégories</h2>
				
				<div class="row">
					{% for category in site.categories %}
					<div class="col-6 col-md">
						<a href="/categories#{{category | first}}-ref">{{category | first}}</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
